<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>あつ森収集データベース</title>
<link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="app" v-cloak>
<label for="csv"><input type="checkbox" v-model="csvToggle" id="csv">虫</label>
<p style="margin-bottom:20px">検索：<input type="text" v-model.trim="keyword" v-on:keyup.esc="keyword=''"></p>
<p style="position:absolute;top:20px;right:20px;">
    <label for="south"><input type="checkbox" v-model="southToggle" id="south">南半球</label>
    <label for="time"><input type="checkbox" v-model="realtimeCheck" id="time">リアルタイムチェック</label>
</p>
<div style="margin-bottom: 20px;">
<button v-on:click="getTime() (realtimeCheck = true)">現在時刻取得</button>
<select name="" id="month" v-model="month">
<option value="1">1月</option>
<option value="2">2月</option>
<option value="3">3月</option>
<option value="4">4月</option>
<option value="5">5月</option>
<option value="6">6月</option>
<option value="7">7月</option>
<option value="8">8月</option>
<option value="9">9月</option>
<option value="10">10月</option>
<option value="11">11月</option>
<option value="12">12月</option>
</select>
<select name="" id="hour" v-model="hour">
<option value="0">0時</option>
<option value="1">1時</option>
<option value="2">2時</option>
<option value="3">3時</option>
<option value="4">4時</option>
<option value="5">5時</option>
<option value="6">6時</option>
<option value="7">7時</option>
<option value="8">8時</option>
<option value="9">9時</option>
<option value="10">10時</option>
<option value="11">11時</option>
<option value="12">12時</option>
<option value="13">13時</option>
<option value="14">14時</option>
<option value="15">15時</option>
<option value="16">16時</option>
<option value="17">17時</option>
<option value="18">18時</option>
<option value="19">19時</option>
<option value="20">20時</option>
<option value="21">21時</option>
<option value="22">22時</option>
<option value="23">23時</option>
</select>
</div>
<table
    v-if="tableMode"
    class="csvTable"
    v-bind:class="(csvToggle) ? 'insect' : 'fish'
">
<thead>
<tr>
<th 
    v-for="(value,index) in label"
    v-on:click="sort(index)"
>{{value}}</th>
</tr>
</thead>
<transition-group tag="tbody" name="insert">
    <tr v-for="(col,index) in sortCSV" v-bind:key="'col'+index">
        <td v-if="colIndex !== 4" v-for="(value,colIndex) in col" v-bind:title="label[colIndex]">
            <template v-if="colIndex === 1">
                <button class="txtBtn" v-on:click="modalOpen(sortCSV[index][0])">{{value}}</button>
            </template>
            <template v-else-if="colIndex === 3">
                <template v-if="!southToggle">{{monthVal(sortCSV[index][3])}}</template>
                <template v-else>{{monthVal(sortCSV[index][4])}}</template>
            </template>
            <template v-else-if="colIndex === 5">{{timeVal(value)}}</template>
            <template v-else>{{value}}</template>
        </td>
    </tr>
</transition-group>
</table>
<div class="modal" v-show="modalFlag">
<div class="modalInner">
<p class="name"><span class="num">No.{{useCSV[modalNo][0]}}</span>{{useCSV[modalNo][1]}}</p>
<table>
<tr>
<th>売値</th>
<td>{{useCSV[modalNo][2]}}ベル</td>
</tr>
<tr>
<th>出現月</th>
<td>北半球：{{monthVal(useCSV[modalNo][3])}}<br>南半球：{{monthVal(useCSV[modalNo][4])}}</td>
</tr>
<tr>
<th>出現時間</th>
<td>{{timeVal(useCSV[modalNo][5])}}</td>
</tr>
<tr v-if="csvToggle">
<th>場所</th>
<td>{{useCSV[modalNo][6]}}</td>
</tr>
<tr v-else>
<th>場所,条件</th>
<td>{{useCSV[modalNo][6]}}</td>
</tr>
<tr v-if="csvToggle">
<th>条件</th>
<td>{{useCSV[modalNo][7]}}</td>
</tr>
<tr v-else>
<th>魚影サイズ</th>
<td>{{useCSV[modalNo][7]}}</td>
</tr>
</table>
</div><!-- /.modalInner -->
<div class="modalBg" v-on:click="modalFlag = false"></div>
</div><!-- /.modal -->
</div><!-- /#app -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="scripts/common.js"></script>
</body>
</html>